/* Text variables on the website */
/* Allows different colours for the text */
html {
  --light-colour: white;
}

ion-card-title, ion-card-subtitle, ion-card-content, h1 {
  color: white;
}

@media (prefers-color-scheme: dark) {
  html {
    --light-colour: black;
  }
  
}

img {
  width: 100%;
  height: 100%
}

.img_logos {
  width: 20%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: red;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

ion-title {
  /* background-color: red; */
  color: var(--light-colour);
}

.App-link {
  color: #61dafb;
}

/* Nav */

ul {
  text-decoration: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  list-style-type: none;
}

/* Map styling for photo gallery page */

.map {
  aspect-ratio: 9 / 16;
}

@media only screen and (min-width: 600px) {
  .map {
    aspect-ratio: 16 / 9;
  }
}

@media only screen and (min-width: 1200px) {}

/* Products */

/* iOS places the subtitle above the title */
/* ion-card{
  display: none;
} */

/* ion-card-header.ios {
  display: flex;
  flex-flow: column-reverse;
} */

/* Make a responsive grid for the purchasable items.
   Allow media queries to make the grid change at different sizes.
   Add in flex. */

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

/* Footer */

footer {
  margin: auto;
  padding: 20px;
  font-size: 20px;
  color: red;
}